.forgot-password-link{
    text-decoration: underline;
    text-decoration-color: #399898;
    font-size: 14px;
}
.header-group-p{
    align-items: center;
}
input[type="text"],
      input[type="password"],
      textarea {
        border: none;
        outline: none;
        border: 1px solid #ccc; 
      }
.far,  .fa {
    margin-left: -70px;
    margin-top: 10px;
    background-color: white;
    color: grey;
}